.App {
  text-align: center;
}
.App header {
  background-color: #f4f4f4;
  padding: 1rem;
}

.App button {
  display: inline-block;
  margin: 1rem 1.5rem;
  margin-top:5rem;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: lightcoral;
}
.App button:hover {
  background-color: lightpink;
}
@media (max-width:500px){
  .App header h1{
    font-size: 1rem;
  }
  .App button{
    margin-top:1.5rem;
  }
}
